
@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');
html,body{
    height: 100%;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
header{
    position: relative;

}
body{
    font-family: 'Tektur', cursive;
    height: 100%;
    display: flex;
    flex-direction: column;
}
h1{
    background-color:#3caa85;
    color:white;
    font-size: 50px;
    text-shadow: 1px 1px 2px black
}
#banner{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 0% 20%;
}

nav{
    position: absolute;
    right: 20px;
    top: 11%;
}
.navegador{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}
.boton{
    background-color: #127e75;
    padding: 5px 5px;
    color: white;
    font-size: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-left: 10px solid #cef132;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 7px 7px 7px black;
}
.boton:hover{
    transform: scale(1.1,1.1);
}
#tituloEventos{
    background-color: #3caa85;
    color: white;
    font-size: 30px;
    text-align: center;
    height: 60px;
    text-shadow: 1px 1px 2px black;
    margin-top: -0.5%;
    position: relative;
}
#home, #about, #contact, #rules, #schedule, #registration{
    background-color:#cef132;
    color: black;
}
main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    line-height: 2;
}

#logo{
    position: absolute;
    left: 0;
    bottom: -35%;
    width: 200px;
    height: 200px;
}
section{
    width: 50%;
    top: 60px;
    justify-content: center;
    margin-bottom: 40px;
}
#encabezado, #titulo{
    text-align: center;
}
article h3{
    text-align: center;
}
ul{
    list-style-position: inside;
    list-style-type: circle;
}
.sinMarca{
    list-style-type: none;
}


/**========================== TABLE ==========================**/

table{
    background-color:rgb(147, 177, 151);
    width: 100%;
    height: 50%;
    border-collapse: collapse;
}
table, th, td{
    border: 2px solid;
    text-align: center;
}
.maps{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


/**========================== FORM ==========================**/
form{
    width: 70%;
}
legend{
    padding-left: 10px;
    padding-right: 10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #127e75;
    border: 2px black solid;
    color: aliceblue;
}
#persona{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.label{
    display: flex;
    gap: 40px;
    margin-left: 20px;
    margin-right: 20px;
}
#school{
    display: flex;
    justify-content: space-around;
}
.school{
    display: flex;
    flex-direction: column;
}
.position{
    margin-left: 20px;
}
.conditions{
    margin: 15px;
}
.submit{
    background-color: #127e75;
    padding: 8px 16px;
    color: white;
    font-size: 20px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 7px 7px 7px black;
    margin-top: 15px;
}
.submit:hover{
    transform: scale(1.1,1.1);
}

/**========================== Carrusel ==========================**/
#conteItemCarrusel{
    height: 400px;
    width: 400px;
    overflow: hidden;
}
.itemCarrusel{
    height: 100%;
    position: relative;
}
.tarjetaCarrusel{
    height: 100%;
    width: 100%;
}
.flechasCarrusel{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.flechita{
    height: 10%;
    width: 10%;
}
.imgCarrusel{
    height: 100%;
    width: 100%;
    object-fit:cover;
}

@media only screen and (max-width:722px){

    .navegador{
        display: flex;
        flex-wrap: wrap;
        top: 70%;

    }
    #conteItemCarrusel{
        transform: scale(0.6,0.6);
    }
    #logo{
        transform: scale(0.5,0.5);
        top: 0;
        left: -50px;
    }
    iframe{
        width: 100%;
        height: 100%;
    }
    #tituloEventos{
        font-size: 100%;
    }
}

footer{
    margin-top: 20%;
}